<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<title>Fitbit Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
       <h2>FitBit Login</h2>
        <%= data.user.age %>
        </br>
        </br>
        <a href="http://localhost:6001/heartrate" class="btn btn-info" role="button">Get Heart Rate</a>
        <a href="http://localhost:6001/stepscount" class="btn btn-info" role="button">Get Steps Count</a>
        </br>
        </br>
        <a href="http://localhost:6001/heartrate" class="btn btn-info" role="button">LogOut</a>
    </div>
</body>
</html>
