<!DOCTYPE html>
<html>
<script type="text/javascript" language="javascript" src="jquery-1.8.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    body {
        font: 400 15px Lato, sans-serif;
        line-height: 1.8;
        color: #818181;
    }
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        color: #303030;
        font-weight: 600;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 19px;
        line-height: 1.375em;
        color: #303030;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .jumbotron {
        background-color: #f4420b;
        color: #fff;
        padding: 100px 25px;
        font-family: Montserrat, sans-serif;
    }
    .container-fluid {
        padding: 60px 50px;
    }
    .bg-grey {
        background-color: #f6f6f6;
    }
    .logo-small {
        color: #f4511e;
        font-size: 50px;
    }
    .logo {
        color: #f4511e;
        font-size: 200px;
    }
    .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
    }
    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .carousel-control.right, .carousel-control.left {
        background-image: none;
        color: #f4511e;
    }
    .carousel-indicators li {
        border-color: #f4511e;
    }
    .carousel-indicators li.active {
        background-color: #f4511e;
    }
    .item h4 {
        font-size: 19px;
        line-height: 1.375em;
        font-weight: 400;
        font-style: italic;
        margin: 70px 0;
    }
    .item span {
        font-style: normal;
    }
    .panel {
        border: 1px solid #f4511e;
        border-radius:0 !important;
        transition: box-shadow 0.5s;
    }
    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }
    .panel-footer .btn:hover {
        border: 1px solid #f4511e;
        background-color: #fff !important;
        color: #f4511e;
    }
    .panel-heading {
        color: #fff !important;
        background-color: #f4511e !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .panel-footer {
        background-color: white !important;
    }
    .panel-footer h3 {
        font-size: 32px;
    }
    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }
    .panel-footer .btn {
        margin: 15px 0;
        background-color: #f4511e;
        color: #fff;
    }
    .navbar {
        margin-bottom: 0;
        background-color: #f4511e;
        z-index: 9999;
        border: 0;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        letter-spacing: 4px;
        border-radius: 0;
        font-family: Montserrat, sans-serif;
    }
    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
        color: #f4511e !important;
        background-color: #fff !important;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #fff !important;
    }
    footer .glyphicon {
        font-size: 20px;
        margin-bottom: 20px;
        color: #f4511e;
    }
    .slideanim {visibility:hidden;}
    .slide {
        animation-name: slide;
        -webkit-animation-name: slide;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
    }
    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(70%);
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }
    @-webkit-keyframes slide {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
    }
    @media screen and (max-width: 768px) {
        .col-sm-4 {
            text-align: center;
            margin: 25px 0;
        }
        .btn-lg {
            width: 100%;
            margin-bottom: 35px;
        }
    }
    @media screen and (max-width: 480px) {
        .logo {
            font-size: 150px;
        }
    }
</style>

<script>
    var stepsData = "";
    var stepsList = [];
    var stepsDate = [];
    var heartDate = [];
    var heartoorMax = [];
    var heartoorMin = [];
    var heartfbMin = [];
    var heartfbMax = [];
    var heartcMin = [];
    var heartcMax = [];
    var heartpMin = [];
    var heartpMax = [];
    var profile = angular.module('profileApp', []);
    profile.controller('profileCtrl', function($scope, $http) {
        $http.get("/profileJson.json").then(function (response) {
            $scope.user = response.data;
        });
    });
    var heart = angular.module('heartApp', []);
    heart.controller('heartCtrl', function($scope, $http) {
        $http.get("/heartJson.json").then(function (response) {
            $scope.myData = response.data;
            angular.forEach($scope.myData,function(eachvalue){
                heartDate.push(eachvalue.dateTime)
                angular.forEach(eachvalue.value.heartRateZones,function(heartvalue){
                    console.log(heartvalue.name);
                    if(heartvalue.name == "Out of Range"){
                        heartoorMin.push(parseInt(heartvalue.min));
                        heartoorMax.push(parseInt(heartvalue.max));
                    }
                    if(heartvalue.name == "Fat Burn"){
                        heartfbMin.push(parseInt(heartvalue.min));
                        heartfbMax.push(parseInt(heartvalue.max));
                    }
                    if(heartvalue.name == "Cardio"){
                        heartcMin.push(parseInt(heartvalue.min));
                        heartcMax.push(parseInt(heartvalue.max));
                    }
                    if(heartvalue.name == "Peak"){
                        heartpMin.push(parseInt(heartvalue.min));
                        heartpMax.push(parseInt(heartvalue.max));
                    }
                });
                console.log(eachvalue.value)
            });

            $(function () {
                $('#hearts_vis_div').highcharts({
                    title: {
                        text: 'Heart Beat',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'Out of Range',
                        x: -20
                    },
                    xAxis: {
                        categories: heartDate
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Min',
                        data: heartoorMin
                    }, {
                        name: 'Max',
                        data: heartoorMax
                    }]
                });
            });

            $(function () {
                $('#heartsp_vis_div').highcharts({
                    title: {
                        text: 'Heart Beat',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'Peak',
                        x: -20
                    },
                    xAxis: {
                        categories: heartDate
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Min',
                        data: heartpMin
                    }, {
                        name: 'Max',
                        data: heartpMax
                    }]
                });
            });

            $(function () {
                $('#heartsfb_vis_div').highcharts({
                    title: {
                        text: 'Heart Beat',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'Fat Burn',
                        x: -20
                    },
                    xAxis: {
                        categories: heartDate
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Min',
                        data: heartfbMin
                    }, {
                        name: 'Max',
                        data: heartfbMax
                    }]
                });
            });

            $(function () {
                $('#heartsc_vis_div').highcharts({
                    title: {
                        text: 'Heart Beat',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'Cardio',
                        x: -20
                    },
                    xAxis: {
                        categories: heartDate
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Min',
                        data: heartoorMin
                    }, {
                        name: 'Max',
                        data: heartoorMax
                    }]
                });
            });


        });
    });
    var heart = angular.module('stepsApp', []);
    heart.controller('stepsCtrl', function($scope, $http) {
        $http.get("/stepsJson.json").then(function (response) {
            $scope.mySteps = response.data;
            stepsData = response.data;
            console.log(stepsData);
            angular.forEach($scope.mySteps,function(eachvalue){
                stepsList.push(parseInt(eachvalue.value));
                stepsDate.push(eachvalue.dateTime);
                console.log(eachvalue.value)
            });
            $(function () {
                Highcharts.chart('steps_vis_div', {
                    chart: {
                        type: 'column',
                        options3d: {
                            enabled: true,
                            alpha: 10,
                            beta: 25,
                            depth: 70
                        }
                    },
                    title: {
                        text: 'Number of steps taken'
                    },
                    plotOptions: {
                        column: {
                            depth: 25
                        }
                    },
                    xAxis: {
                        categories: stepsDate
                    },
                    yAxis: {
                        title: {
                            text: null
                        }
                    },
                    series: [{
                        name: 'Steps',
                        data: stepsList
                    }]
                });
            });
        });

    });

    // For Visualization

    console.log(stepsData);





</script>

<!--Combining all the Apps so that all are available in Body-->
<script>var rootApp = angular.module('rootApp', ['heartApp','profileApp','stepsApp'])</script>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" ng-app="rootApp">



<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">FTBT</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#heartrate">HEART RATE</a></li>
                <li><a href="#steps">STEPS</a></li>
                <li><a href="#profile">PROFILE</a></li>
                <li><a href="/out">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Welcome to FTBT</h1>
    <p>Your Fitbit data for Today</p>
</div>

<!--Profile table-->
<div id="profile" class="container-fluid" ng-app="profileApp" ng-controller="profileCtrl">

    <!--Bed image in Center-->
    <div class=""row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <span class="glyphicon glyphicon-user logo slideanim"></span>
        <h2 class="text-center">Profile Info</h2>
    </div>
    <div class="col-sm-4"></div>
    <table class="table table-hover">
        <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Average Daily Step</th>
        <th>Stride Length (Running)</th>
        <th>Stride Length (Walking)</th>
        <th>Country</th>
        </thead>
        <tbody>
        <tr ng-repeat="x in user">
            <td>{{ x.fullName }}</td>
            <td>{{ x.age }}</td>
            <td>{{ x.height }}</td>
            <td>{{ x.weight }}</td>
            <td>{{ x.averageDailySteps }}</td>
            <td>{{ x.strideLengthRunning }}</td>
            <td>{{ x.strideLengthWalking }}</td>
            <td>{{ x.country }}</td>
        </tr>
        </tbody>
    </table>
</div>

<!--heart rate table-->
<div id="heartrate" class="container-fluid" ng-app="heartApp" ng-controller="heartCtrl">

    <!--Heart image in center-->
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo slideanim text-center"></span>
            <h2 class = "text-center">Heart-Rate</h2>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br><br>
    <table class="table table-hover">
        <thead>
        <th>Date</th>
        <th>Type</th>
        <th>Max Heart Rate</th>
        <th>Min Heart Rate</th>
        </thead>
        <tbody>
        <tr ng-repeat="x in myData[0].value.heartRateZones">
            <td>{{ myData[0].dateTime }}</td>
            <td>{{ x.name }}</td>
            <td>{{ x.max }}</td>
            <td>{{ x.min }}</td>
        </tr>
        </tbody>
    </table>

    <h2 class = "text-center">Charts</h2><br>
    <div id="hearts_vis_div" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
    <div id="heartsfb_vis_div" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
    <div id="heartsc_vis_div" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
    <div id="heartsp_vis_div" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

</div>

<!--Steps table-->
<div id="steps" class="container-fluid" ng-app="stepsApp" ng-controller="stepsCtrl">

    <!--Heart image in center-->
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <span class="glyphicon glyphicon-road logo slideanim text-center"></span>
        <h2 class = "text-center">Steps Count</h2>
    </div>
    <div class="col-sm-4"></div>
</div>
<br><br>
<table class="table table-hover">
    <thead>
    <th>Date</th>
    <th>Steps</th>
    </thead>
    <tbody>
    <tr ng-repeat="x in mySteps">
        <td>{{ x.dateTime }}</td>
        <td>{{ x.value }}</td>
    </tr>
    </tbody>
</table>
    <h2 class="text-center">Charts</h2><br>
    <div id="steps_vis_div" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
</div>

<footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Fitbit Web App</p>
</footer>

<!--Animation for Symbols and Scrolls-->
<script>
    $(document).ready(function(){
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function(){

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });

        $(window).scroll(function() {
            $(".slideanim").each(function(){
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });
        });
    })
</script>

</body>
</html>